#  Baby names mini-project

### Import  libraries:

In [94]:
import altair as alt
import pandas as pd
import geopandas as gpd 
from IPython.display import display

alt.data_transformers.enable('json') 

from ipywidgets import interact, interactive, fixed, interact_manual,Dropdown
import ipywidgets as widgets

pass

### Reading data:

In [95]:
#### code taken form altair tutorial

#national dataset
na_data = pd.DataFrame(pd.read_csv("nat-data.tsv", sep="\t"))
na_data.drop(na_data[na_data.preusuel == '_PRENOMS_RARES'].index, inplace=True)
na_data.drop(na_data[na_data.annais == 'XXXX'].index, inplace=True)

# dataset per departement
names = pd.read_csv("dpt2020.csv", sep=";")
names.drop(names[names.preusuel == '_PRENOMS_RARES'].index, inplace=True)
names.drop(names[names.dpt == 'XX'].index, inplace=True)
names.drop(names[names.dpt == 'NAN'].index, inplace=True)
names.sample(10)

         sexe  preusuel annais dpt  nombre
2309012     2    ELIANE   1940  65       8
139451      1   ANTOINE   1931  71      19
1328309     1      PAUL   1958  71      15
3630502     2   TESNIME   2017  93       5
3210149     2   MÉLISSA   1981  95       8
436981      1      ELOI   2004  60       3
2732857     2  JULIETTE   1999  50      26
41949       1     AHMED   2015  95      28
2814511     2       LÉA   1995  61      35
1591851     1    THOMAS   2006  20      28

In [174]:
# Just to test visualisation
#na_data=na_data[50999:150000]
na_data.shape

(586591, 4)

### DATA MANIPULATION:

###### National data

In [96]:
List_name=na_data['preusuel'].unique()

List_year=na_data['annais'].unique()

nat_data_name={}
    
List_year.sort()
List_year[0]

'1900'

In [97]:

#distribution by year
for i in range(len(List_year)):
    nat_data_name[List_year[i]]=na_data.loc[na_data['annais'] == List_year[i]]

#### Department data

In [98]:
year_data_name={}

List_dep=names['dpt'].unique()

#distribution by year
for i in range(len(List_year)):
    year_data_name[List_year[i]]=names.loc[names['annais'] == List_year[i]]

In [99]:
# List_name_per_dep=dep_data_name['84']['preusuel'].unique()
# List_year_per_dep=dep_data_name['84']['annais'].unique()
# List_year_per_dep

dep_year_popular_name={}
sub_dp_year_popular_name={}
sub_sub_dp_year_popular_name={}

for i in range(len(List_year)):
    dep_year_popular_name[List_year[i]]=[]
    for j in List_dep:
        sub_dp_year_popular_name[j]=year_data_name[List_year[i]].loc[year_data_name[List_year[i]]['dpt'] ==j]
        dep_year_popular_name[List_year[i]].append(sub_dp_year_popular_name[j])

In [100]:
### find the 10 popular names in each year

nat_data_name_popular={}  #dictionnary of the 10 popular names for each year
nat_exten_name_popular={} #dictionnary of the 50 popular names for each year
    
    
for i in range(len(List_year)):
     nat_data_name[List_year[i]]=nat_data_name[List_year[i]].sort_values(by=['nombre'],ascending=False)
     nat_data_name_popular[List_year[i]]=nat_data_name[List_year[i]][:10]
     nat_exten_name_popular[List_year[i]]=nat_data_name[List_year[i]][:50]
print(list(nat_data_name_popular['1920']['preusuel'])) #perfect

['MARIE', 'JEAN', 'ANDRÉ', 'JEANNE', 'PIERRE', 'RENÉ', 'MARCEL', 'ROGER', 'LOUIS', 'HENRI']

## Second visualisation

In [101]:
# departement data

departement = gpd.read_file('departements-version-simplifiee.geojson')

departement.sample(5)

   code              nom                                           geometry
6    07          Ardèche  POLYGON ((4.48313 45.23645, 4.54055 45.23475, ...
82   82  Tarn-et-Garonne  POLYGON ((1.06408 44.37851, 1.10672 44.39235, ...
85   85           Vendée  MULTIPOLYGON (((-2.30479 46.70942, -2.33559 46...
62   62    Pas-de-Calais  POLYGON ((2.06771 51.00651, 2.09760 50.99843, ...
48   48           Lozère  POLYGON ((3.36134 44.97141, 3.38637 44.95274, ...

In [102]:

names_after_merge = departement.merge(names, how='right', left_on='code', right_on='dpt')

names_after_merge.sample(5)

,code,nom,geometry,sexe,preusuel,annais,dpt,nombre
2859648,29,Finistère,"MULTIPOLYGON (((-5.10260 48.43612, -5.10360 48...",2,LOUISE,2017,29,57
2067465,93,Seine-Saint-Denis,"POLYGON ((2.55306 49.00982, 2.58031 48.99159, ...",2,CÉLINE,1990,93,97
960589,NaN,NaN,None,1,LÉO,1962,971,10
2581904,77,Seine-et-Marne,"POLYGON ((2.57166 48.69201, 2.56880 48.70722, ...",2,ISABELLE,1983,77,30
611072,14,Calvados,"POLYGON ((-1.11962 49.35557, -1.07822 49.38849...",1,GÉRARD,1947,14,290

In [109]:
#add popular name tp table
dr_List_year=Dropdown(options=List_year)
dr_name=Dropdown(options=list(nat_exten_name_popular['1990']['preusuel']))

def update(*args):
    #print(nat_data_name['2016'])
    selected_year=dr_List_year.value
    #print(selected_year)
    dr_name.options = list(nat_exten_name_popular[dr_List_year.value]['preusuel'])
dr_List_year.observe(update)
             
def make_altair_geo_chart(year,name):
      big_subset=[]
      na_grouped = names.groupby(['dpt', 'preusuel', 'sexe','annais'], as_index=False).sum()
      grouped=na_grouped[na_grouped.annais==year] # filter data by selected year
      grouped = departement.merge(grouped, how='right', left_on='code', right_on='dpt')
      subset=grouped[grouped.preusuel == name]   # filter data by selected name
      my_chart=alt.Chart(subset).mark_geoshape(stroke='white').encode(
      tooltip=['preusuel:N','nom:N', 'code:N', 'nombre:N'],
      color='nombre',
      ).properties(width=800, height=600)
      return my_chart
        
  

interact(make_altair_geo_chart, year=dr_List_year, name=dr_name)

interactive(children=(Dropdown(description='year', options=('1900', '1901', '1902', '1903', '1904', '1905', '1…

In [193]:
#find the popular name for a given year and departement


def popular_name_dep(year,departement):
    dpt=''
    pop_name='Not defined'
    if year in List_year:
        for i in range(len(dep_year_popular_name[year])):
            df_popular_name=dep_year_popular_name[year][i].sort_values(by=['nombre'],ascending=False)
            if df_popular_name[:1].empty:
                continue
            else:
                dpt=df_popular_name[:1]["dpt"].values[0]
                if departement==dpt:
                    pop_name=df_popular_name[:1]["preusuel"].values[0]
    
    return pop_name

In [107]:
year="2000"
dep_year_pop =pd.DataFrame(List_dep, columns =['dpt'])
dep_year_pop["Pop_name"]=[1]*len(List_dep)
for i in dep_year_pop.index :
    dep_year_pop.at[i,'Pop_name']=popular_name_dep(year,dep_year_pop['dpt'].values[i])

#no_subset=departement.merge(dep_year_pop, how='right', left_on='code', right_on='dpt')

In [199]:
dr_List_year=Dropdown(options=List_year[::-1])
li=list(nat_exten_name_popular['2017']['preusuel'])
li.insert(0,'.....')
dr_name=Dropdown(options=li)

def update(*args):
    selected_year=dr_List_year.value
    li=list(nat_exten_name_popular[dr_List_year.value]['preusuel'])
    li.insert(0,'.....')
    dr_name.options = list(li)
dr_List_year.observe(update)

             
def make_altair_geo_chart(year,name):
      big_subset=[]
      if(name=='.....'):
        dep_year_pop =pd.DataFrame(List_dep, columns =['dpt'])
        dep_year_pop["Pop_name"]=[1]*len(List_dep)
        for i in dep_year_pop.index :
            dep_year_pop.at[i,'Pop_name']=popular_name_dep(year,dep_year_pop['dpt'].values[i])
        n_subset=departement.merge(dep_year_pop, how='right', left_on='code', right_on='dpt')
        my_chart=alt.Chart(n_subset).mark_geoshape(stroke='white').encode(
        tooltip=['nom:N', 'code:N', 'Pop_name:N'],
        color='Pop_name',
        ).properties(width=800, height=600)
      else:
        na_grouped = names.groupby(['dpt', 'preusuel', 'sexe','annais'], as_index=False).sum()
        grouped=na_grouped[na_grouped.annais==year] # filter data by selected year
        grouped = departement.merge(grouped, how='right', left_on='code', right_on='dpt')
        d_subset=grouped[grouped.preusuel == name]   # filter data by selected name
        my_chart=alt.Chart(d_subset).mark_geoshape(stroke='white').encode(
        tooltip=['preusuel:N','nom:N', 'code:N', 'nombre:N'],
        color='nombre',
        ).properties(width=800, height=600)
        
      return my_chart
        
     
      
  

interact(make_altair_geo_chart, year=dr_List_year, name=dr_name)

interactive(children=(Dropdown(description='year', options=('2017', '2016', '2015', '2014', '2013', '2012', '2…